# Python virtual environment
.venv/
.env

# Python cache files
__pycache__/
*.pyc
*.pyo
*.pyd

# IDE/Editor specific files
.vscode/
.idea/

# OS-specific files
.DS_Store
Thumbs.db

# Build artifacts
build/
dist/
*.egg-info/

# Logs
*.log
